/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
	color: #000;
	line-height: 1.5;
	font-family: 'Open Sans', 'merriweather' sans-serif;
	color: black;
  background-color: black;

}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container {
  max-width: 90%;
  margin: 0 auto;
  width: 1024px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/*************
HEADER  
************/
header,
footer {
  background-color: yellow;
  border-radius: 2px;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  text-align: center;

  }

.main-pic-wrapper {
  position: relative;
  display: inline-block;
}

.main-pic-wrapper .main-image {
  width: 100%;
  max-width: 1000px;
  height: auto;
  max-height: initial;
}

.main-pic-wrapper .secondary-image {
  position: absolute;
  bottom: -200PX;
  right: -350px;
  width: 550px;
  margin-right: 60px;
}

img {
  border: 5px;
  border-style: solid;
  border-color: yellow;
  border-radius: 20px;
  max-width: 750px;
  max-height: 500px;
  margin: 20px 20px 10px 20px;
  
}

p {
  font-size: 20px;
  font-family: open-sans;
  font-style: bold;
  color: white;

}

.image-right,
.image-left {
  display: flex;
}

.image-right img {
  order: 1;
}

.image-left img {
  order: -1;
}

.image-right p,
.image-left p {
  padding-top: 30px;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: justify;
}

/*************
Testimonial
************/

/*blockquote {
  font-size: 26px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  margin: 0 auto;
  color: white;
}

blockquote span {
  font-weight: 600;
  display: block;
  font-style: normal;
}
*/

span {
  font-weight: 600;
  display: block;
  font-style: normal;
}
.testimonial {
  width: 60%;
  margin: 0 auto;
}

.testimonial div {
  background-color: white;
  text-align: center;
  padding: 50px 0;
}



/*************
FOOTER
************/

a {
  display: inline-block;
  list-style: none;
  color: black;

}

.contact p {
  color: black;
  padding-top: 20px;

}

.contact {
  text-align: center;
}