/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
	color: #000;
	line-height: 1.5;
	font-family: 'Open Sans', 'merriweather' sans-serif;
	color: black;
  background-color: black;

}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container {
  max-width: 90%;
  margin: 0 auto;
  width: 1024px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/*************
HEADER  
************/
header {
  background-color: yellow;
  
  border-radius: 2px;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  text-align: center;

  }

.main-pic {
  content: url("../images/pic2.jpg");
  content: cover;
  border: 5px;
  border-style: solid;
  border-color: yellow;
  border-radius: 20px;
  margin-top: 20px;
  
}

img {
  border: 5px;
  border-style: solid;
  border-color: yellow;
  border-radius: 20px;
  max-width: 750px;
  max-height: 500px;
  margin-top: 30px;
  

}

.textbox {
  border: 30px;
  border-color: green;
}

.textbox1
.textbox2
p {
  font-size: 15px;
  font-family: open-sans;
  font-style: italic;
  color: black;
}

footer {
  background-color: yellow;
}

a {
  display: inline-block;
  list-style: none;
  margin: 0 26px 75px;
}

.contact {
  text-align: center;

}
